*.h5
*.pyc
*.jpg
*.zip
*.txt
*.cache
*.yaml
*.csv

LTC/training_metrics/e80_training_metadata.json
LTC/training_metrics/e80_training_loss.npz
LTC/training_metrics/e60_training_metadata.json
LTC/training_metrics/e60_training_loss.npz
LTC/training_metrics/e50_training_metadata.json
LTC/training_metrics/e50_training_loss.npz
LTC/training_metrics/e40_training_metadata.json
LTC/training_metrics/e40_training_loss.npz
LTC/training_metrics/e30_training_metadata.json
LTC/training_metrics/e30_training_loss.npz
LTC/training_metrics/e20_training_metadata.json
LTC/training_metrics/e20_training_loss.npz
LTC/training_metrics/e100_training_metadata.json
LTC/training_metrics/e100_training_loss.npz
LTC/checkpoint_weights/model_epoch90.pt
LTC/checkpoint_weights/model_epoch80.pt
LTC/checkpoint_weights/model_epoch70.pt
LTC/checkpoint_weights/model_epoch60.pt
LTC/checkpoint_weights/model_epoch50.pt
LTC/checkpoint_weights/model_epoch40.pt
LTC/checkpoint_weights/model_epoch30.pt
LTC/checkpoint_weights/model_epoch20.pt
LTC/checkpoint_weights/model_epoch160.pt
LTC/checkpoint_weights/model_epoch150.pt
LTC/checkpoint_weights/model_epoch140.pt
LTC/checkpoint_weights/model_epoch130.pt
LTC/checkpoint_weights/model_epoch120.pt
LTC/checkpoint_weights/model_epoch110.pt
LTC/checkpoint_weights/model_epoch100.pt
LTC/checkpoint_weights/model_epoch10.pt
